%p#notice= notice

%input#ksInput{:onkeyup => "keywordSearch()", :placeholder => "Search for items...", :type => "text"}/

Quality: &nbsp
%select#qualityInput{:onchange => "qualityFilter()"} 
  %option{:value => "All"} All
  %option{:value => "New"} New
  %option{:value => "Like New"} Like New
  %option{:value => "Very Good"} Very Good
  %option{:value => "Acceptable"} Acceptable
  %option{:value => "Poor"} Poor

Categories: &nbsp
%select#categoryInput{:onchange => "categoryFilter()"}
  %option{:value => "All"} All
  %option{:value => "Furniture"} Furniture
  %option{:value => "Electronics"} Electronics
  %option{:value => "Appliances"} Appliances
  %option{:value => "Clothes"} Clothes
  %option{:value => "Other"} Other

Price Sort: &nbsp  
%button#descending{:onclick => "priceSort(this.id)"} High -> Low

&nbsp

%button#ascending{:onclick => "priceSort(this.id)"} Low -> High
%br/

%h2 Current Inventory
= link_to 'New Item', new_item_path
%table#myTable
  %thead
    %tr
      %th Name
      %th Description
      %th Quality
      %th Price
      %th Category
      %th Location
      %th Options
  %tbody
    - @items.each do |item|
      %tr
        %td= item.name
        %td= item.description
        %td
          = item.quality
          %br/
          %br/
          = item.quality_desc
        %td= item.price
        %td= item.category
        %td= item.location
        %td{:colspan => "3"}
          = link_to 'More Information', item, class: "item-show"
          - if current_admin || current_employee
            = link_to 'Edit', edit_item_path(item)
            = link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }
%br/

